<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member's Only
        <% if (locals.title) { %>
            | <%= locals.title %>
        <% } %>
    </title>
</head>
<body>
    
<header>
    <h1 class="title">Member's Only</h1>
    
    <%- include('nav') %>

    <% if (locals.currentUser) { %>
        <p class="user-info">Logged in as <%= locals.currentUser.username %>.
            <form action="/log-out" method="POST">
                <input type="submit" value="Log Out">
            </form>
        </p>
    <% } %>
</header>

<h1><%= locals.title %></h1>