<%- include('head-er') %>

<p><%= locals.message %></p>

<% if (!locals.currentUser) { %>
    <a class="btn" href="/log-in">Log In</a>
<% } else if (!locals.currentUser.membership) { %>
    <a class="btn" href="/sign-up/join-club">Become a Member</a>
<% } else if (!locals.currentUser.admin) { %>
    <a class="btn" href="/sign-up/make-admin">Become an Admin</a>
<% } %>

<%- include('footer') %>